.add-match {
	margin-top: 1.75em;

	.submit-match {
		margin-top: 1.5em;

		.button {
			background-color: rgba(0, 137, 182, 0.65);
		}
	}
}

.matches {
	margin-top: 1.75em;

	ul {
		padding: 0;
		list-style: none;
		color: $white;
		text-align: center;
	}
}
